@import "../../../styles/mixins";

.forecast {
	width:  100%;
	height: 100%;

	&__container {
		display:        inline-block;
		vertical-align: top;
		//
		height:         144px;
		width:          100%;

		@include tablet-sm() {
			height: 100%;
		}

		&--left {
			@include tablet-sm() {
				width: 20%;
			}
		}

		&--right {
			padding-top: 8px;

			@include tablet-sm() {
				width:        80%;
				padding-top:  0;
				padding-left: 8px;
			}
		}
	}

	&__inner {
		display:        inline-block;
		vertical-align: top;
		//
		width:          50%;
		height:         100%;

		@include tablet-sm() {
			width: 100%;
		}

		&--top {
			padding-right: 4px;

			@include tablet-sm() {
				padding-right: 0;
				height:        40%;
			}
		}

		&--bot {
			padding-left: 4px;

			@include tablet-sm() {
				padding-left: 0;
				height:       60%;
				padding-top:  8px;
			}
		}
	}
}
