@import "../../../styles/mixins";

.chart {
	width:    100%;
	height:   100%;
	position: relative;

	&__header {
		width:          100%;
		text-align:     left;
		text-transform: capitalize;
		//
		font-size:      1.4rem;

		@include tablet() {
			font-size:      1.6rem;
			padding-bottom: 0;
			height:         32px;
		}
	}

	canvas {
		width:  100%;
		height: 100%;

		@include tablet() {
			height: calc(100% - 32px) !important;
		}
	}
}
